.product-card {
    display: flex;
    justify-content: space-between;
}
.phone-image img{
    width: 126px;
    height: 174px;
    object-fit: cover;
}
.phone-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EDEDED;
}
.phone-discount{
    text-decoration: line-through;
}